 <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
        <h4 class="modal-title"><%=channelName%></h4>
      </div>
      <div class="modal-body">
        <p>You've chosen the <%=channelName%> channel. Select a feed to watch or interact with from the list below</p>
          <div id="bigDivModal">
          <ul class="media-list">
          <%for(var i in feeds)
            {
              if(feeds[i].visible) {%>
              <li class="media feedListItem" id="<%=feeds[i].feedId%>">
              <a class="pull-left" href="#">

              <img class="media-object" src="<%=feeds[i].thumbNail%>">
              </a>
              <div class="mediaBody">
                <div class ="mediaHeading">
                 <h4> <%=feeds[i].feedName%> </h4>
                </div>
                <%=feeds[i].description%>
              </div>
              </li>
          <%} }%>
          </ul>

          </div>

          <div id="selectedFeedOptionsDiv"
          </div>
         

 
